[project]
name = "fast-short-url"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[tool.setuptools.packages.find]
where = ["."]
